/* Unifraktur Maguntia */

@font-face {
    font-family: 'Unifraktur Maguntia';
    src: url('/csh/assets/fonts/UnifrakturMaguntia21.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Unifraktur Cook */

@font-face {
    font-family: 'Unifraktur Cook';
    src: url('/csh/assets/fonts/UnifrakturCook.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Source Code Pro */

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: url('/csh/assets/fonts/SourceCodePro-Regular.otf.woff');
}

/* linja pona */
@font-face {
  font-family:"linja pona";
  src: url('/csh/assets/fonts/linja-pona-4.2.otf')  format('opentype');
  font-weight: 400px;
}
