.toki {
    font-family: "linja pona";
}

.antiqua {
    font-style: normal;
    font-weight: normal;
    font-family: serif;
}
.hebrew {
    font-style: normal;
    font-weight: normal;
    font-family: "Frank Ruehl CLM", serif;
}

.gay {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 1s ease-in-out infinite;
    background-size: 400% 100%;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

body {
    color: #A89984;
    background-color: #282828;
    font-size: 24px;
    font-family: serif;
    line-height: 140%;
    text-rendering: optimizeLegibility;
    max-width: 40em;
    margin: 0px auto;
    padding: 0em 1em 1em 1em;
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: serif;
}

h1 {
    font-size: 150%;
    line-height: 110%;
}

h2 {
    font-size: 115%;
}

h3 {
    font-size: 100%;
}

a {
    color: #458588;
    text-decoration: none;
}

a:hover {
    color: #83A598;
}

a:visited {
    color: #B16286;
}

pre {
    font-family: "Source Code Pro",monospace;
    line-height: 110%;
    min-width: 100%;
    padding: 1rem;
    background-color: #928374;
    color: #EBDBB2;
    border-radius: 4px;
    display: inline-block;
}

pre code {
    font-family: "Source Code Pro",monospace;
}

p code, li code {
    font-family: "Source Code Pro",monospace;
    background-color: #282828;
}

blockquote {
    padding-left: 2rem;
    border-left: 5px solid #282828;
    font-style: normal;
}

.feed-icon {
    padding-left: 1rem;
}

/* Footer */

footer {
    border-top: 1px solid #928374;
    font-size: 80%;
}

.copyright {
    text-align: center;
}

.cc-button {
    margin-left: 1rem;
}

/* Navigation */

.nav {
    font-family: 'Unifraktur Maguntia',sans;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid #282828;
}

.nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline;
    padding: 1rem;
}

.nav li:first-child {
    padding-left: 0;
}

.nav a {
    display: inline-block;
    color: #EBDBB2;
}

.nav a:hover {
    color: #EBDBB2;
}

.nav a:visited {
    color: #EBDBB2;
}

@media (min-width: 1140px) {
    .container {
        margin-left: 14rem;
        margin-right: 4rem;
        max-width: 52rem;
    }
}

@media (min-width: 800px) and (max-width: 1140px) {
    .container {
        margin-left: 6rem;
        margin-right: 4rem;
        max-width: 52rem;
    }
}

@media (max-width: 800px) {
    .container {
        margin: 1rem;
    }
}

.fade-text {
    color: #ddd;
}

/* Summaries */

.summary {
    margin-bottom: 3rem;
}

.summary .date {
    margin-bottom: 0rem;
}

.summary p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Posts */

.date {
    margin-top: -1rem;
    color: #666;
}

.tags {
    margin-top: -1rem;
    color: #666;
    font-size: 80%;
}

.tags ul {
    display: inline-block;
    padding-left: 0.5rem;
}

.tags li {
    display: inline-block;
    padding: 0.5rem;
}

.post img, .centered-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0px;
    border-radius: 4px;
}

.post video {
    display: block;
    margin: 0 auto;
    padding: 0px;
    max-width: 100%;
}

.caption {
    text-align: center;
    margin: 0;
    margin-left: 4rem;
    margin-right: 4rem;
}

/* Pagination */

.paginator {
    display: flex;
    justify-content: space-between;
}

.paginator-next {
    margin-left: auto;
}

/* Syntax Highlighting */

.syntax-special, .syntax-element {
    color: #8ac6f2;
    font-weight: bold;
}

.syntax-string {
    color: #95e454;
}

.syntax-keyword, .syntax-attribute {
    color: #e5786d;
}

.syntax-comment {
    color: #999;
}

.syntax-open, .syntax-close {
    color: #999;
}
