/* Taken from Alyssa Rosenzweig's website.  Prettyprinted by me.
 * https://rosenzweig.io/
 */

code {
    white-space: pre-wrap;
}

q {
    quotes: "“" "”" "‘" "’";
}

body {
    font-family: Cantarell, sans-serif;
    font-size: 120%;
    max-width: 40em;
    margin: 0px auto;
    padding: 0em 1em 1em 1em;
    line-height: 1.6;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
}
a.title {
    text-decoration: underline;
    font-weight: bold;
}
a:link {
    color: #0000EE;
}

img {
    width: 100%;
}

table {
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    padding: 0.2em;
    border: 1px solid #aaa;
}
